/* Container for the tree visualization */
.tree-visualization {
    text-align: left; 
    margin-top: 20px;
    max-width: 400px; 
    margin-left: 20px; 
}

/* Node styles */
.tree-node {
    /* display: inline-block; */
    /* position: relative; */
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-weight: bold;
    color: #333;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.operand {
    background-color: #4CAF50;
    color: white;
}

.operator {
    background-color: #FF9800;
    color: white;
}

.children {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
}

.child {
    position: relative;
    margin: 0 20px;
}

/* Scrollable list of rules */


.scrollable-rule-list {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: scroll; /* Enable vertical scroll */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
  }
  

.form-check {
    margin: 10px 0;
}

/* JSON output styles */
.json-output {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    height: 300px;
    overflow-y: auto;
}
